:host {

  > section.root {
    position: relative;
    width:  640px;
    height: 480px;
    border: solid black 1px;
    background-color: cyan;

    .location.house {
      position: absolute;

      > img {
        width: 350px;
        left: -25px;
        position: absolute;
      }

      > app-appartment {
        position: absolute;
        width: 205px;
        height: 100px;
        border: solid black 1px;
        top: 205px;
        left: 48px;
      }
    }

    .Avatar {
      position: absolute;
      width: 50px;
      height: 50px;

      > * {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      > .back {
        border-radius: 50%;
        background-color: white;
      }

    }

    app-appartment.dndDragover, .dndDragover > app-appartment {
      background: yellowgreen;
    }

    .location.Bob {
      .Avatar {
        top: 100px;
        left: 125px;
      }
    }

    .location.Alice {
      left: 340px;
    }

    .outside {
      position: absolute;
      bottom: 10px;
      right: 100px;
      left: 100px;
      height: 120px;
      width: 440px;
      border: solid black 1px;
      background-color: grey;
    }

    .outside.dndDragover {
      background: yellowgreen;
    }
  }

}
