<mat-toolbar color="primary">
  <label mat-icon-button [matMenuTriggerFor]="menuGeneralScene" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
    Avatar scene
  </label>
</mat-toolbar>

<section class="root">
  <!-- Bob -->
  <section class="location house Bob"
          [dndDropzone] = "allowDndList"
          (dndDrop)     = "drop($event, SLBobHome)"
          >
    <img  [src]="houseURL" class="house" />
    <app-appartment [location]    = "BobHome | async"
                    [peoples]     = "BobHomePeoples | async"
                    ></app-appartment>
    <section class="Avatar">
      <div class="back" [style.backgroundColor]="(Avatar | async).color"></div>
      <img [src]="AvatarImgURL" />
    </section>
</section>

  <section class = "location house Alice"
           [dndDropzone] = "allowDndList"
           (dndDrop)     = "drop($event, SLAliceHome)"
           >
    <img  [src]="houseURL" class="house"/>
    <app-appartment [location]    = "AliceHome | async"
                    [peoples]     = "AliceHomePeoples | async"
                    ></app-appartment>
  </section>

  <section class         = "location outside"
           [dndDropzone] = "allowDndList"
           (dndDrop)     = "drop($event, SLelsewhere)"
           >
    <app-appartment [location]    = "elsewhere | async"
                    [peoples]     = "elsewhereHomePeoples | async"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLelsewhere)"
             ></app-appartment>
  </section>
</section>

<lib-ccbl-program [program-versionner]="subProgV"></lib-ccbl-program>
<lib-ccbl-program [program-versionner]="progV"   ></lib-ccbl-program>

<mat-menu #menuGeneralScene="matMenu">
  <button mat-menu-item (click)="start()">
    Start
  </button>
  <hr/>
  <button mat-menu-item (click)="reset()">
    Reset
  </button>
</mat-menu>
