section.scene {
  app-appartment.dndDragover, .dndDragover > app-appartment {
    background: yellowgreen;
    opacity: 50% ;
  }
  display: inline-flex;
  flex-flow: row;
  position: relative;
  img.house{
    width: 800px;
    margin-left: 10px;
  }
  .location.BathRoom {
    > app-appartment {
      position: absolute;
      width: 151px;
      height: 67px;
      border: solid black 1px;
      top: 232px;
      left: 534px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 590px;
      top: 200px;
    }
  }
  .location.ParentalRoom {
    > app-appartment {
      position: absolute;
      width: 151px;
      height: 70px;
      border: solid black 1px;
      top: 195px;
      left: 322px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 383px;
      top: 267px;
    }
  }
  .tv{
    position: absolute;
    width: 85px;
    left: 101px;
    top: 336px;
  }
  .location.LivingRoom {
    > app-appartment {
      position: absolute;
      width: 146px;
      height: 70px;
      border: solid black 1px;
      top: 502px;
      left: 49px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 140px;
      top: 451px;
    }
  }
  .location.Toilet {
    > app-appartment {
      position: absolute;
      width: 80px;
      height: 70px;
      border: solid black 1px;
      top: 304px;
      left: 535px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 620px;
      top: 320px;
    }
  }
  .location.FirstRoom {
    > app-appartment {
      position: absolute;
      width: 149px;
      height: 70px;
      border: solid black 1px;
      top: 12px;
      left: 323px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 384px;
      top: 96px;
    }
  }

  .location.SecondRoom {
    > app-appartment {
      position: absolute;
      width: 149px;
      height: 70px;
      top: 12px;
      left: 535px;
      border: solid black 1px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 593px;
      top: 88px;
    }
  }
  .location.Kitchen {
    > app-appartment {
      position: absolute;
      width: 270px;
      height: 70px;
      border: solid black 1px;
      top: 455px;
      left: 317px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 429px;
      top: 548px;
    }
  }
  .location.Hallway {
    > app-appartment {
      position: absolute;
      width: 277px;
      height: 61px;
      border: solid black 1px;
      top: 386px;
      left: 314px;
    }
    >img{
      position: absolute;
      width: 30px;
      left: 434px;
      top: 399px;

    }
  }
  .location.outside {
    > app-appartment {
      position: absolute;
      width: 172px;
      height: 171px;
      border: solid black 1px;
      top: 463px;
      left: 633px;
    }

  }

}
.clock{
  z-index: 5;
  width: 112px;
  position: absolute;
  left:10px;
  margin-left: 20px;

}
.modifiable-Clock{
  margin-top: 5px;
  margin-left: 10px;
}
.dayNight{
  position: absolute;
  top:20px;
  left:49px;
  height: 20px;
  width: 20px;
}
.dayNightWeather{
  z-index: 6;
  position: absolute;
  top: 20px;
  left: 200px;
  height: 80px;
  width: 80px;
}
.Weather{
  z-index: 7;
  position: absolute;
  top: 20px;
  left: 200px;
  height: 80px;
  width: 80px;
}
.volume{
  position: absolute;
  top: 340px;
  left: 190px;
  height: 35px;
}
.volume-val{
  position: absolute;
  top: 359px;
  height:10px;
}
.coffee-machine{
  position: absolute;
  top: 527px;
  left: 492px;
  height: 126px;
}
.Oven{
  position: absolute;
  top: 565px;
  left: 318px;
  width: 90px;
}



*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}
.SwitchFirstRoom {
  position: absolute;
  top: 164px;
  left: 336px;
}

.SwitchSecondRoom {
  position: absolute;
  top: 153px;
  left: 537px;
}
.SwitchParentalRoom {
  position: absolute;
  top: 334px;
  left: 436px;
}
.SwitchHallway {
  position: absolute;
  top: 385px;
  left: 531px;
}
.SwitchKitchen {
  position: absolute;
  top: 535px;
  left: 317px;
}
.SwitchBathroom {
  position: absolute;
  top: 182px;
  left: 566px;
}
.SwitchToilet {
  position: absolute;
  top: 302px;
  left: 566px;
}

.SwitchLivingRoom {
  position: absolute;
  top: 365px;
  left: 274px;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 0.3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}


.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}
