<section class="clock">
      <span >
        <app-clock-display  [tdate]="(DayTimeSubj)"></app-clock-display>
        <input class="modifiable-Clock"
               type="time"
               [ngModel] = "(DayTimeSubj | async)!.toLocaleTimeString()"
               (ngModelChange)="changeDate($event)"
               (scroll)="onScroll()"
               #clock
               />
        <img [src]="imgDayNight" class="dayNight"  />
      </span>
</section>
<img [src]="imgDayNight" class="dayNightWeather"  />
<img [src]="imgWeather" class="Weather"  />
<section class="scene">
  <img  [src]         = "houseURL" class="house"
  />

  <section class="location BathRoom">
    <app-appartment class         = "BathRoom"
                    [location]    = "(BathRoom | async)!"
                    [peoples]     = "(BathRoomPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLBathRoom)"
    ></app-appartment>
    <img [src]="BathRoomLamp"/>
  </section>
  <section class="location ParentalRoom">
    <app-appartment class         = "ParentalRoom"
                    [location]    = "(ParentalRoom | async)!"
                    [peoples]     = "(ParentalRoomPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLParentalRoom)"
    ></app-appartment>
    <app-appartment class         = "Bed"
                    [location]    = "(ParentalRoomBed | async)!"
                    [peoples]     = "(ParentalRoomBedPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLParentalRoomBed)"
    ></app-appartment>
    <img [src]="ParentalRoomLamp"/>
  </section>
  <img src="assets/volume.png" class="volume" />
  <p class="volume-val" [ngStyle]="{'color':(TvVolume.getValue()<0.34)?'#6a9601':(TvVolume.getValue()<0.67)?'#eaf046':'#e94f45','left':(TvVolume.getValue()<1)?'207px':'202px'}">{{100*TvVolume.getValue()}}</p>
  <section class="location LivingRoom">
    <app-appartment class         = "LivingRoom"
                    [location]    = "(LivingRoom | async)!"
                    [peoples]     = "(LivingRoomPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLLivingRoom)"
    ></app-appartment>
    <app-appartment class         = "LivingRoomSofa"
                    [location]    = "(LivingRoomSofa | async)!"
                    [peoples]     = "(LivingRoomSofaPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLLivingRoomSofa)"
    ></app-appartment>
    <img [src]="LivingRoomLamp"/>
  </section>
  <section class="location Toilet">
    <app-appartment class         = "ToiletRoom"
                    [location]    = "(ToiletRoom | async)!"
                    [peoples]     = "(ToiletRoomPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLToiletRoom)"
    ></app-appartment>
    <img [src]="ToiletRoomLamp"/>
  </section>
  <section class="location FirstRoom">
    <video  class="tv" #TV>
      <source  [src]="TvSource | async" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <app-appartment class         = "FirstRoom"
                    [location]    = "(FirstRoom | async)!"
                    [peoples]     = "(FirstRoomPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLFirstRoom)"
    ></app-appartment>
    <app-appartment class         = "Bed"
                    [location]    = "(FirstRoom | async)!"
                    [peoples]     = "(FirstRoomBedPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLFirstRoomBed)"
    ></app-appartment>
    <img [src]="FirstRoomLamp"/>
  </section>
  <section class="location SecondRoom">
    <app-appartment class         = "SecondRoom"
                    [location]    = "(SecondRoom | async)!"
                    [peoples]     = "(SecondRoomPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLSecondRoom)"
    ></app-appartment>
    <app-appartment class         = "Bed"
                    [location]    = "(SecondRoomBed | async)!"
                    [peoples]     = "(SecondRoomBedPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLSecondRoomBed)"
    ></app-appartment>

    <img [src]="SecondRoomLamp"/>
  </section>
  <section class="location Kitchen">
    <app-appartment class         = "Kitchen"
                    [location]    = "(Kitchen | async)!"
                    [peoples]     = "(KitchenPeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLKitchen)"
    ></app-appartment>
    <img [src]="KitchenLamp"/>
  </section>
  <section class="location Hallway1">
    <app-appartment class         = "Hallway1"
                    [location]    = "(Hallway1 | async)!"
                    [peoples]     = "(Hallway1Peoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLHallway1)"
    ></app-appartment>
    <img [src]="Hallway1Lamp"/>
  </section>
  <section class="location Hallway2">
    <app-appartment class         = "Hallway2"
                    [location]    = "(Hallway2 | async)!"
                    [peoples]     = "(Hallway2Peoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLHallway2)"
    ></app-appartment>
    <img [src]="Hallway2Lamp"/>
  </section>
  <section class="location outside">
    <app-appartment class         = "outside"
                    [location]    = "(elsewhere | async)!"
                    [peoples]     = "(elsewhereHomePeoples | async)!"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLOutside)"
    ></app-appartment>
  </section>

</section>

<section class="program">
  <section>
    <button (click)="start()">Start</button>
  </section>
  <lib-ccbl-program [program-versionner]="subProgV"></lib-ccbl-program>
  <lib-ccbl-program [program-versionner]="progV"   ></lib-ccbl-program>
</section>
<img [src]="coffeemachine" class="coffee-machine"  />
<img [src]="Oven" class="Oven"  />

<div class="SwitchFirstRoom">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchFirstRoom)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchSecondRoom">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchSecondRoom)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchParentalRoom">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchParentalRoom)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchHallway1">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchHallway1)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchHallway2">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchHallway2)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchKitchen">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchKitchen)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchLivingRoom">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchLivingRoom)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchBathroom">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchBathroom)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchToilet">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchToilet)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class="SwitchHallway2">
  <label class="rocker">
    <input type="checkbox" ngModel (ngModelChange)="changeSwitchVal($event, SwitchToilet)">
    <span class="switch-left">On</span>
    <span class="switch-right">Off</span>
  </label>
</div>
<div class       = "window FirstRoom"
     [class.open] = "openWindows | async"
     (click)      = "openWindows.next( !openWindows.getValue() )"
><div></div></div>
<div class       = "window ParentalRoom"
     [class.open] = "openWindows | async"
     (click)      = "openWindows.next( !openWindows.getValue() )"
><div></div></div>
<div class       = "window SecondRoom"
     [class.open] = "openWindows | async"
     (click)      = "openWindows.next( !openWindows.getValue() )"
><div></div></div>
<div class       = "window FirstLivingRoom"
     [class.open] = "openWindows | async"
     (click)      = "openWindows.next( !openWindows.getValue() )"
><div></div></div>
<div class       = "window SecondLivingRoom"
     [class.open] = "openWindows | async"
     (click)      = "openWindows.next( !openWindows.getValue() )"
><div></div></div>

<select class='select-Weather'
        #mySelect
        [ngModel] = "weather.getValue()"
        (ngModelChange) = "weather.next($event)"
        >
  <option *ngFor="let w of weathers" [value]="w" [selected]="weather.getValue() === w">Pluie</option>
</select>
<section class="thermometer outside">
  <img [src]="thermometerURL" />
  <input class="Bar" type="range" min="0" max="30" list="tickmarks"
         [ngModel]       = "outsideTempSubj | async"
         (ngModelChange) = "outsideTempSubj.next($event)"
  />
</section>
<output class="output">{{outsideTempSubj | async}}°</output>

<datalist id="tickmarks">
  <option value= "0" label= "0°C" >
  <option value="5" label="5°C" >
  <option value="10" label="10°C">
  <option value="15" label="15°C">
  <option value="20" label="20°C">
  <option value="25" label="25°C">
  <option value="30" label="30°C">
</datalist>
