:host {
    .max {
        flex: 1 1;
    }

    mat-toolbar {
        label, a, img {
            margin-left: 1em;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a.current {
            text-decoration: underline;
        }

        label.user {
            display: flex;
            align-items: center;

            img.photo {
                width: 56px;
                border-radius: 50%;
                border: solid darkgrey 2px;
            }
        }
    }
}