<mat-toolbar color="primary">
  <label mat-icon-button [matMenuTriggerFor]="menuGeneral" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
    Test affichage CCBL et simulation basique
  </label>
</mat-toolbar>

<mat-menu #menuGeneral="matMenu">
  <button mat-menu-item (click)="openDialogDevice()">
    <span>Ajouter appareil/service</span>
  </button>
  <button mat-menu-item (click)="reset()">
    <span>Tout effacer</span>
  </button>
</mat-menu>

<section class="gridRoot">
  <section class="pilotage">
    Pilotage du moteur CCBL .................... <br/>
    <button mat-raised-button color="primary" (click)="initProgram()">
      Initialiser programme
    </button>
    <button mat-raised-button color="primary" (click)="startProgram()">
      Démarrer programme
    </button>
  </section>
  <section class="sensors">
    <mat-list>
      <mat-list-item  *ngFor="let sensor of sensors">
        <app-sensor [data]="sensor"></app-sensor>
      </mat-list-item>
    </mat-list>
  </section>
  <section class="actuators">
    <mat-list>
      <mat-list-item  *ngFor="let sensor of actuators">
        <app-sensor [data]="sensor"></app-sensor>
      </mat-list-item>
    </mat-list>
  </section>
  <section class="program" >
    <lib-ccbl-program *ngIf="progVersionner"
                      [program-versionner] = "progVersionner"
    ></lib-ccbl-program>
  </section>
</section>

<!--
<section>
  <lib-ccbl-program [program-versionner] = "getProgVersionner()"></lib-ccbl-program>
</section>
-->
