<mat-toolbar color="primary">
  <label>CCBL</label>
  <span class="max"></span>
  <a routerLink="admin" routerLinkActive="current" *ngIf="US.obsIsAdmin | async">admin</a>
  <a routerLink="experimentateur" routerLinkActive="current" *ngIf="US.obsIsExperimentateur | async">expe</a>
  <label *ngIf = "US.obsUser | async as U" class="user" >
    <!-- {{U.email}} -->
    <img class="photo" [src] = "U.photoURL" [matMenuTriggerFor]="menuUser" />
  </label>
</mat-toolbar>

<!---
<pre *ngIf = "US.obsUser | async as U" >{{U | json}}</pre>
-->

<router-outlet></router-outlet>


<mat-menu #menuUser="matMenu">
  <button mat-menu-item (click)="US.signOut()">Disconnect</button>
</mat-menu>