<!-- <pre>
    Charger / Décharger program
    Visu program (en action)
    Visu des variables, channels, émetteur et source d'événements.

</pre> -->

<mat-tab-group>
    <mat-tab    *ngFor  = "let descr of obsLprogV | async"
                [label] = "descr.label"
        >
        <lib-ccbl-program [program-versionner]="descr.PV" [program-path]="descr.path"></lib-ccbl-program>
    </mat-tab>
  </mat-tab-group>

<pre>{{(obsLprogV | async)?.length}} programs</pre>

<!--
<pre>{{obsProgram | async | json}}</pre>
-->