:host {
  position: relative;

  > section {
    > section {
      display: inline-flex;
      flex-flow: column;

      > img {
        width: 30px;
      }

      > label {
        border: solid black 1px;
        background: black;
        color: white;
        text-align: center;
      }
    }

    img.phoning {
      position: absolute;
      top: 0;
      right: -5px;
      width: 15px;
    }
  }
}
