<button (click)="validate()" mat-raised-button color="primary">Validation</button>
<button (click)="load()" mat-raised-button color="primary">Load program</button>

<hr/>
<form class="connect">
  <mat-form-field>
    <mat-label>openHab adress</mat-label>
    <input #urlOpenHab type="text" matInput [matAutocomplete]="autoOpenHab" value="http://localhost:8080" />
    <mat-autocomplete #autoOpenHab="matAutocomplete">
      <mat-option value="http://localhost:8080">http://localhost:8080</mat-option>
      <mat-option value="http://adomus-openhab.u-ga.fr:8080">http://adomus-openhab.u-ga.fr:8080</mat-option>
      <mat-option value="https://adomus-openhab.u-ga.fr:8443">https://adomus-openhab.u-ga.fr:8443</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button (click)="initOpenHab(urlOpenHab.value)" mat-raised-button color="primary">Connect</button>
</form>

<hr/>
<h2>CCBL Program</h2>
<section>
  <button *ngIf="{started: obsStarted | async} as S" 
          color="primary"
          (click)="start( !S.started )"
          >
    {{S.started ? "Stop" : "Start"}}
  </button>
</section>
<hr/>
<lib-ccbl-program [program-versionner]="progV"></lib-ccbl-program>

<ul>
  <li *ngFor="let AP of LAP | async" [ngClass]="AP.computationState">
    {{AP.context.id}} {{AP.context.state}} {{AP.computationState}}
    <ol>
      <li *ngFor="let conf of AP.canBeTrue">
        <ul *ngFor="let ap of conf">
          {{ap.context.id}} {{ap.context.state}}
        </ul>
      </li>
    </ol>
  </li>
</ul>

<hr/>
<h3>Define environment</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>CCBL</th>
    <th>Env</th>
  </thead>
  <tbody>
    <tr *ngFor="let v of bsVar | async">
      <td>{{v.label}}</td>
      <td>{{v.type}}</td>
      <td>
        <form (ngSubmit)="v.next( v.set( val.value ) )">
          <input #val name="val" mat-input [ngModel] = "v.get(v.obsCCBL | async)" />
        </form>
      </td>
      <td>{{v.obsEnv  | async}}</td>
    </tr>
  <tr>
    <td colspan="4">
      <hr/>
      <!-- <button mat-raised-button color="primary" (click)="appendVar()">Append variable</button> -->
    </td>
  </tr>
  <tr *ngFor="let em of bsEmitters | async">
    <td>{{em.label}}</td>
    <td colspan="2">{{em.label}}</td>
    <td>{{em.get( em.obsEnv | async )}}</td>
  </tr>
  </tbody>
</table>


<ul>
  <li *ngFor="let item of obsItems | async">
    <summary>
      {{item.name}} {{item.label}}: {{item.state}}
      <details>
        <pre>{{item | json}}</pre>
      </details>
    </summary>
  </li>
</ul>


