:host {
  table {
    border: solid black 1px;
    border-collapse: collapse;

    th, td {
      border: solid black 1px;
    }
  }

  form.connect {
    display: flex;

    mat-form-field {
      flex: 1 1;
    }
  }
}
