<button (click)="validate()" mat-raised-button color="primary">Validation</button>
<button (click)="validate()" mat-raised-button color="primary">Load program</button>

<hr/>
<input value="http://localhost:8080" #urlOpenHab/>
<button (click)="initOpenHab(urlOpenHab.value)" mat-raised-button color="primary">Connect to openHab</button>

<hr/>
<h3>Define environment</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Initial value</th>
  </thead>
  <tbody>
    <tr *ngFor="let v of bsVar | async">
      <td>{{v.name}}</td>
      <td>{{v.type}}</td>
      <td>{{v.value.get( v.value.init )}}</td>
    </tr>
  <tr>
    <td colspan="3">
      <button mat-raised-button color="primary" (click)="appendVar()">Append variable</button>
    </td>
  </tr>
  </tbody>
</table>


<ul>
  <li *ngFor="let item of obsItems | async">
    <summary>
      {{item.name}} {{item.label}}: {{item.state}}
      <details>
        <pre>{{item | json}}</pre>
      </details>
    </summary>
  </li>
</ul>

<hr/>
<lib-ccbl-program [program-versionner]="progV"></lib-ccbl-program>

<ul>
  <li *ngFor="let AP of LAP | async" [ngClass]="AP.computationState">
    {{AP.context.id}} {{AP.context.state}} {{AP.computationState}}
    <ol>
      <li *ngFor="let conf of AP.canBeTrue">
        <ul *ngFor="let ap of conf">
          {{ap.context.id}} {{ap.context.state}}
        </ul>
      </li>
    </ol>
  </li>
</ul>
