<mat-toolbar color="primary">
  <label mat-icon-button [matMenuTriggerFor]="menuGeneralScene" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
    Avatar scene
  </label>
</mat-toolbar>

<section class="root">
  <section class = "location bob">
    <app-appartment [location]    = "BobHome | async"
                    [peoples]     = "BobHomePeoples | async"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLBobHome)"
    ></app-appartment>
    <app-device-lamp [lamp]="Avatar | async"></app-device-lamp>
  </section>

  <section class = "location alice">
    <app-appartment [location]    = "AliceHome | async"
                    [peoples]     = "AliceHomePeoples | async"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLAliceHome)"
    ></app-appartment>
  </section>

  <section class = "location outside">
    <app-appartment [location]    = "elsewhere | async"
                    [peoples]     = "elsewhereHomePeoples | async"
                    [dndDropzone] = "allowDndList"
                    (dndDrop)     = "drop($event, SLelsewhere)"
    ></app-appartment>
  </section>
</section>

<lib-ccbl-program [program-versionner]="subProgV"></lib-ccbl-program>
<lib-ccbl-program [program-versionner]="progV"   ></lib-ccbl-program>

<mat-menu #menuGeneralScene="matMenu">
  <button mat-menu-item (click)="start()">
    Start
  </button>
  <hr/>
  <button mat-menu-item (click)="reset()">
    Reset
  </button>
</mat-menu>
